.notes {
  background-color: aliceblue;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.notes-btn {
  background-color: rgba(212, 30, 30, 0.808);
  color: white;
  margin: 2px;
  border: 0px;
  height: 40px;
}
.notes-input {
  margin: 2px;
  height: 40px;
}
.notes-sorting-functionality {
  text-align: center;
  padding: 10px;
}

.notes-sorting-functionality > button {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
}
.notes-sorting-functionality > button:hover {
  background-color: rgba(231, 83, 83, 0.863);
  color: black;
}
